QWICKREPAIR_SMTP_HOST=smtp.gmail.com
QWICKREPAIR_SMTP_PORT=587
QWICKREPAIR_SMTP_SECURE=false
QWICKREPAIR_SMTP_USER=qwickrepair@gmail.com
QWICKREPAIR_SMTP_PASS=your_smtp_password_here
QWICKREPAIR_FROM_NAME=Qwickrepair Solutions
QWICKREPAIR_FROM_EMAIL=qwickrepair@gmail.com
QWICKREPAIR_TO_EMAIL=qwickrepair@gmail.com
